@(
  rankingType: String,
  page       : Int,
  products   : List[Product]
)
@()
@import helper._

@main("Amazon Ranking") {

   <div class="container-fluid">
    <header>
      <h1>@products.size() product(s)</h1>
    </header>
   </div>

   <div class="pagination">
     <ul>
       @if(rankingType == "isbn") {
       <li class="active"><a href="#">ISBN</a></li>
       <li><a href="/ranking/asin/">ASIN</a></li>
       } else {
       <li><a href="/ranking/isbn/">ISBN</a></li>
       <li class="active"><a href="#">ASIN</a></li>
       }
     </ul>
     <ul>
       @if(page == 1) { <li class="active"><a href=".">1</a></li> } else { <li><a href=".">1</a></li> }
       @if(page == 2) { <li class="active"><a href="2">2</a></li> } else { <li><a href="2">2</a></li> }
       @if(page == 3) { <li class="active"><a href="2">3</a></li> } else { <li><a href="3">3</a></li> }
       @if(page == 4) { <li class="active"><a href="3">4</a></li> } else { <li><a href="4">4</a></li> }
       @if(page == 5) { <li class="active"><a href="5">5</a></li> } else { <li><a href="5">5</a></li> }
     </ul>
   </div>

   <!-- <div class="pagination"> -->
   <!-- </div> -->

   <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
     <ul class="champagne" id="bottomLoad">
      @for(product <- products) {
         <li>
           <a href="http://www.amazon.co.jp/gp/product/@{product.id}" title="">
             <span class="rank">@{product.rank} rank</span>
             <span class="score">@{product.score} pt</span>
           </a>
           <a rel="gallery" href="http://images-jp.amazon.com/images/P/@{product.id}.jpg" title="">
             <img src="http://images-jp.amazon.com/images/P/@{product.id}.09._SL160_.jpg" class="" alt="" title="hogehoge" />
           </a>
         </li>
      }
      </ul>
    </div>
    <div id="modal-gallery" class="modal modal-gallery hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body"><div class="modal-image"></div></div>
      <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-home"></i>Open Amazon</a>
      </div>
    </div>

}
